{# src: resources/templates/article/_article.twig #}
<article class="article">

    <!-- meta -->
    <div class="article__meta">
        <p class="article__meta__date">
            {{ article.created|date("d M Y") }}
        </p>
    </div>
    <!-- /meta -->
    
    <!-- title -->
    <h2 class="article__title">
        <a href="{{ path('article_read', {slug: article.slug}) }}">
            {{ article.title }}
        </a>
    </h2>
    <!-- /title -->
    
    <!-- summary -->
    <div class="article__content">
        {% autoescape false %}
        {{ article.summary|markdown }}
        {% endautoescape %}
    </div>
    <!-- /summary -->
    
</article>
