/* 
    styles.css
*/
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/*
    variables
*/
$primary-color: #005B96;

/*
    .container
*/
.container {
    
    @include outer-container;
    
    .header, .content, .footer {
        @include span-columns(8);
        
        @include media($tablet) {
            @include span-columns(8);
        }
        
        @include media($mobile) {
            @include span-columns(4);
        }
    }
    
}

/*
    div.article__tags
*/
.article__tags {
    
}
/*
    .article__tags a 
*/
.article__tags a {
    display: inline-block;
    color: white;
    background-color: #e95c33;
    padding: .1em .5em .25em;
    border-radius: 5px;
}
