/* 
    styles.css
*/
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/*
    variables
*/
$primary-color: #005B96;

/*
    .container
*/
.container {
    
    @include outer-container;
    
/*    .content {
        @include span-columns(8);
        
        @include media($tablet) {
            @include span-columns(8);
        }
        
        @include media($mobile) {
            @include span-columns(4);
        }
    }*/
    
}


/*
    .header 
*/
.header {
    
    background-color: lightslategray;
    
    a {
        text-decoration: none;
    }
    
    .brand {
        background-color: palegoldenrod;
    }
    
    .strapline {
        background-color: paleturquoise;
    }
}

/*
    .content 
*/
.content {
    
    /*background-color: peachpuff;*/
    
    @include span-columns(6);
    @include shift(1);
    
    .articles {
        
        .article {

            /*background-color: lightskyblue;*/
            /*border: 1px solid black;*/
            margin-top: 2em;
            margin-bottom: 4em;
            
            .article__meta {
                /*background-color: lightcoral;*/
                
                .article__meta__date {
                    text-align:center;
                }
            }

            .article__title {
                /*background-color: lightsalmon;*/
                text-align:center;
                font-size: 2em;
                
                a {
                    text-decoration: none;
                }
                
            }

            .article__content {
                /*background-color: lightyellow;*/
                text-align: justify;
            }
        }
        
        .article__link {
            margin-top: 2em;
            margin-bottom: 2em;
            display:block;
            text-align:center;
            font-size: 2em;
            text-decoration:none;
            /*background-color: violet;*/
        }
    }
}

/*
    .social 
*/
.social {
    /*background-color: paleturquoise;*/
    padding: 1em 0;
    ul {
        list-style-type: none;
        /*background-color: lightblue;*/
        margin: 0;
        text-align: center;
        
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            text-align: center;
            
            a {
                text-decoration: none;
                padding: 0 1em;
                width: 50%;
            }
        }
    }
}
/*
    .footer 
*/
.footer {
    
    /*background-color: pink;*/
    padding: 1em 0;
    
    ul {
        list-style-type: none;
        /*background-color: lightblue;*/
        margin: 0;
        text-align: center;
        
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            text-align: center;
            
            a {
                text-decoration: none;
                padding: 0 1em;
            }
        }
    }
    
}




/*
    div.article__tags
*/
.article__tags {
    
}
/*
    .article__tags a 
*/
.article__tags a {
    display: inline-block;
    color: white;
    background-color: #e95c33;
    padding: .1em .5em .25em;
    border-radius: 5px;
}
