{# src: resources/templates/layout.twig #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Monkeyphp</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        
        <!-- header -->
        <esi:include src="{{ path('index_header') }}" />
        <!-- /header -->
        
        <section class="container">
            <!-- content -->
            <section class="content">
                {% block content %}
                    <p>Monkeyphp</p>
                {% endblock %}
            </section>
            <!-- /content -->
        </section>
        
        <!-- social -->
        <esi:include src="{{ path('index_social') }}" />
        <!-- /social -->

        <!-- footer -->
        <esi:include src="{{ path('index_footer') }}" />
        <!-- /footer -->
        
    </body>
</html>
