{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title>Monkeyphp</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <esi:include src="{{ path('index_header') }}" />

        {% block content %}
            Monkeyphp
        {% endblock %}

        <esi:include src="{{ path('index_footer') }}" />
    </body>
</html>
