{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title>Monkeyphp</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        {% block content %}
            Monkeyphp
        {% endblock %}
    </body>
</html>
