{# src: resources/templates/index/footer.twig #}
<footer>
    <nav>
        <ul>
            <li>
                <a href="{{ path('login_login') }}">Login</a>
            </li>
        </ul>
    </nav>
</footer>