{# src: resources/templates/index/header.twig #}
<header class="header">
    
    <div class="container">
        
        <!-- brand -->
        <a href="{{ path('index_index') }}" class="brand">Monkeyphp</a>
        <!-- /brand -->

        <!-- strapline -->
        <a href="{{ path('index_index') }}" class="strapline">The Official Cool Beans Awesome Monkeyphp Blog</a>
        <!-- /strapline -->
    </div>
    
</header>