{# src: resources/templates/index/header.twig #}
<header class="header">
    
    <nav>
        <ul>
            <li>
                <a href="{{ path('index_index') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('about_index') }}">About</a>
            </li>
            <li>
                <a href="{{ path('article_index') }}">Article</a>
            </li>
            <li>
                <a href="{{ path('message_index') }}">Message Me</a>
            </li>
        </ul>
    </nav>
    
</header>