{# src: resources/templates/index/header.twig #}
<header>
    <nav>
        <ul>
            <li>
                <a href="{{ path('index_index') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('about_index') }}">About</a>
            </li>
            <li>
                <a href="{{ path('contact_index') }}">Contact</a>
            </li>
        </ul>
    </nav>
</header>