{# empty Twig template #}
{% extends "layout.twig" %}

{% block content %}
<p>
    This is the index page
</p>

<p>
    Lorem ipsum dolor sit amet, vocibus perpetua ex vel. Mel essent sententiae intellegam cu, qui aliquip labores laoreet ea, usu affert verear labitur an. Mea an possit indoctum, eu est sint interpretaris, an animal utamur quaestio mea. Feugait consetetur usu ne, an quo discere alterum nominavi. Mel admodum reprimique at, illum deserunt atomorum ei nam.
</p>
<p>
    Ne volutpat voluptaria cum, ei doctus neglegentur nam. Ex ignota dissentiunt vis. At graeci numquam vulputate mei. An dicant aliquip moderatius pro.
</p>
<p>
    No stet unum eam, putent vivendo praesent ne cum. Decore alterum scaevola no sea, an mutat atqui consulatu pro. Ea qui affert scribentur, ne vis bonorum volutpat complectitur, per et rebum lorem. Eam in harum forensibus.
</p>
{% endblock %}