{# src: resources/templates/index/social.twig #}

<section class="social">
    <div class="container">
        <ul>
            <li>
                <a>Twitter</a>
            </li>
            <li>
                <a>Github</a>
            </li>
        </ul>
    </div>
</section>
