{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {% block content %}
            Monkeyphp
        {% endblock %}
    </body>
</html>
