{# empty Twig template #}
{% extends "layout.twig" %}

{% block content %}
<section>
    <p>
        Admin index view
    </p>
</section>

<section>
    <p>
        Blog Summary
    </p>
</section>

<section>
    <p>
        Messages summary
    </p>
</section>
{% endblock %}